body { margin:0 auto; padding:10pt; max-width:800px; font-family:'sans-serif',Arial; font-size:120%; }
input { width:97%; border:1px solid gray; font-size:120%; margin:8pt 0pt; padding:4pt;}
input:hover {border-color:black;}
#results { margin:20pt 0pt; }
div .res { margin:10pt 0pt; }
div .resmore { margin:10pt 0pt; display:none; }
.r2 { color:green; font-size:80%;}
.r3 { color:gray; font-size:80%;}
noscript p {color:red;}
#footer p { width:97%; background: gray; }

